{% extends 'security/layout.html.twig' %}
{% block body %}
    <div id="auth">
        <div class="row h-100">
            <div class="col-lg-5 col-12">
                <div id="auth-left">
                    <div class="auth-logo">
                        <a href="{{ path('front_home') }}"><img src="{{ asset('images/logo.jpg') }}" alt="Logo"></a>
                    </div>
{#                    <h1 class="auth-title">Vokatsoa</h1>#}
                    <p class="mb-5">Création compte utilisateur. Pour créer un compte <mark>Fournisseur</mark>
                        <a href="{{ path('provider_manage', {'id': 'x'}) }}">Cliquez ici</a></p>
                    <p></p>
                    {{ form_start(form) }}
                    {{ form_row(form.firstname) }}
                    {{ form_row(form.lastname) }}
                    {{ form_row(form.username) }}
                    {{ form_row(form.password) }}
                    <button type="submit" class="btn btn-primary btn-block btn-lg shadow-lg mt-5">Enregistrer</button>
                    {{ form_widget(form._token) }}
                    {{ form_end(form, {'render_rest': false}) }}
                </div>
            </div>
            <div class="col-lg-7 d-none d-lg-block">
                <div id="auth-right"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}
