{% extends 'admin/layout.html.twig' %}
{% set menu_admin_dashboard = true %}
{% block body %}
    <section class="row">
        <div class="col-12 col-lg-9">
            <div class="row">
                <div class="col-6 col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body px-3 py-4-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="stats-icon purple">
                                        <i class="iconly-boldShow"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h6 class="text-muted font-semibold">Nombre des clients</h6>
                                    <h6 class="font-extrabold mb-0">{{ count_all_clients() }}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body px-3 py-4-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="stats-icon blue">
                                        <i class="iconly-boldCategory"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h6 class="text-muted font-semibold">Produits</h6>
                                    <h6 class="font-extrabold mb-0">{{ count_all_product() }}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body px-3 py-4-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="stats-icon green">
                                        <i class="iconly-boldAdd-User"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h6 class="text-muted font-semibold">Livraison en cours</h6>
                                    <h6 class="font-extrabold mb-0">{{ count_shippement_process() }}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body px-3 py-4-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="stats-icon red">
                                        <i class="iconly-boldBag"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <a href="{{ path('admin_order_to_validate_list') }}" class="text-muted font-semibold">Achats a valider</a>
                                    <h6 class="font-extrabold mb-0">{{ count_to_validate_order() }}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3">
            <div class="card">
                <div class="card-body py-4 px-5">
                    <div class="d-flex align-items-center">
                        <div class="avatar avatar-xl">
                            <img src="{{ asset('assets/images/faces/1.jpg') }}" alt="Face 1">
                        </div>
                        <div class="ms-3 name">
{#                            <h5 class="font-bold">{{ app.user.firstname ~ " " ~ app.user.lastname }}</h5>#}
                            <h6 class="text-muted mb-0">@{{ app.user.getUserIdentifier() }}</h6>
                            <a href="{{ path('app_logout') }}">Se deconnecter</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
