{% extends 'admin/layout.html.twig' %}
{% set menu_admin_taxon = true %}
{% block body %}
    <!-- Basic Tables start -->
    <section class="section">
        <div class="row" id="basic-table">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <h4 class="card-title">Liste des rayons</h4>
                            </div>
                            <div class="col justify-content-end d-flex">
                                <a class="btn btn-success" href="{{ path('admin_taxon_manage') }}">Nouveau</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <!-- Table with outer spacing -->
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Couverture</th>
                                        <th>Nom</th>
                                        <th>Nombre produits</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for taxon in taxons %}
                                        <tr>
                                            <td class="text-bold-500">
                                                {% if taxon.image %}
                                                    <img src="{{ asset('product_image/'~taxon.image) }}" width="100"
                                                         alt="">
                                                {% else %}
                                                    <img src="{{ asset('images/logo_rec.jpg') }}" width="100" alt="">
                                                {% endif %}
                                            </td>
                                            <td>{{ taxon.label }}</td>
                                            <td>
                                                <span class="badge bg-info">{{ count_product(taxon.id) }}</span>
                                            </td>
                                            <td>
                                                <a class="btn btn-primary"
                                                   href="{{ path('admin_taxon_manage', {'id': taxon.id}) }}">
                                                    <i class="icon dripicons-document-edit"></i>
                                                </a>
                                                <a class="btn btn-info"
                                                   href="{{ path('admin_product_list', {'taxon': taxon.id}) }}">
                                                    <i class="icon dripicons-list"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Basic Tables end -->
{% endblock %}
