{% extends 'front/layout.html.twig' %}
{% set shop_menu = true %}
{% block body %}
    <div class="site-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-12">
                    <div class="border p-4 rounded" role="alert">
                        Retourner vers la page d'achat ? <a href="{{ path('order_cart') }}">Cliquez ici</a>
                    </div>
                </div>
            </div>
            <form action="" method="post">
                <div class="row">
                    <div class="col-md-6 mb-5 mb-md-0">
                        <h2 class="h3 mb-3 text-black">Billing Details</h2>
                        <div class="p-3 p-lg-5 border">
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="c_fname" class="text-black">Nom <span
                                                class="text-danger">*</span></label>
                                    <input type="text" value="{{ app.user.firstname }}" required class="form-control"
                                           id="c_fname" name="firstname">
                                </div>
                                <div class="col-md-6">
                                    <label for="c_lname" class="text-black">Prénom <span
                                                class="text-danger">*</span></label>
                                    <input type="text" value="{{ app.user.lastname }}" required class="form-control"
                                           id="c_lname" name="lastname">
                                </div>
                            </div>

                            <label for="c_ship_different_address" class="text-black" data-toggle="collapse"
                                   href="#ship_different_address" role="button" aria-expanded="false"
                                   aria-controls="ship_different_address">
                                <input type="checkbox" name="to_shipped" id="c_ship_different_address"> A livrer ?
                            </label>
                            <div class="collapse" id="ship_different_address">
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label for="c_state_country" class="text-black">Ville <span
                                                    class="text-danger">*</span></label>
                                        <input type="text" placeholder="ville" class="form-control" id="c_state_country"
                                               name="city">
                                    </div>
                                    <div class="col-md-12">
                                        <label for="c_address" class="text-black">Adresse exacte
                                            <span class="text-danger">*</span>
                                        </label>
                                        <input type="text" class="form-control" id="c_address" name="address"
                                               placeholder="Addresse pour la livraison">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row mb-5">
                                <div class="col-md-6">
                                    <label for="c_email_address" class="text-black">Email Addresse <span
                                                class="text-danger">*</span></label>
                                    <input type="text" class="form-control"
                                           value="{{ app.user.contact ? app.user.contact.email : '' }}"
                                           id="c_email_address" name="email">
                                </div>
                                <div class="col-md-6">
                                    <label for="c_phone" class="text-black">Téléphone <span
                                                class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="c_phone"
                                           value="{{ app.user.contact ? app.user.contact.phone : '' }}" name="phone"
                                           placeholder="Phone Number">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="c_order_notes" class="text-black">Note</label>
                                <textarea name="note" id="c_order_notes" cols="30" rows="5"
                                          class="form-control"
                                          placeholder="Votre observation/note ici ..."></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row mb-5">
                            <div class="col-md-12">
                                <h2 class="h3 mb-3 text-black">Paiement code Code</h2>
                                {# <div class="p-3 p-lg-5 border"> #}
                                {# <label for="c_code" class="text-black mb-3">Entrer le code de promotion si vous #}
                                {# l'avez</label> #}
                                {# <div class="input-group w-100"> #}
                                {# <input type="text" class="form-control" id="promo_code" #}
                                {# placeholder="Coupon Code" #}
                                {# aria-label="Coupon Code"> #}
                                {# </div> #}
                                {# </div> #}
                                <div class="p-3 p-lg-5 border">
                                    <label for="c_code" class="text-black mb-3">
                                        Entrer la référence mobile money de votre paiement
                                    </label>
                                    <div class="input-group w-100">
                                        <input type="text" name="ref_paiement" class="form-control" id="paiement_code"
                                               placeholder="Reference mobile money"
                                               aria-label="Paiement Code">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-md-12">
                                <h2 class="h3 mb-3 text-black">Votre achat</h2>
                                <div class="p-3 p-lg-5 border">
                                    <table class="table site-block-order-table mb-5">
                                        <thead>
                                        <tr>
                                            <th>Produits</th>
                                            <th>Total</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% set total = 0 %}
                                        {% for item in items %}
                                            {% set total = total + item.getTotalInt() %}
                                            <tr>
                                                <td>{{ item.item.label }} <strong
                                                            class="mx-2">x</strong> {{ item.count }}
                                                </td>
                                                <td>Ar {{ item.total }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <div class="w-100">
                                        <div class="d-flex justify-content-end align-content-end w-100">
                                            <span class="text-black font-weight-bold"><strong>Order Total</strong></span>
                                        </div>
                                        <div class="d-flex justify-content-end align-content-end w-100">
                                            <span class="text-black font-weight-bold"><strong>Ar {{ total|number_format(2, ',', ' ') }}</strong></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-lg py-3 btn-block">Place Order
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!-- </form> -->
        </div>
    </div>
{% endblock %}
