<header class="site-navbar" role="banner">
    <div class="site-navbar-top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
                    <form action="" class="site-block-top-search">
                        <span class="icon icon-search2"></span>
                        <input type="text" class="form-control border-0" placeholder="Search">
                    </form>
                </div>

                <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
                    <div class="site-logo">
                        <a href="{{ path('front_home') }}" class="js-logo-clone">VOKATSOA</a>
                    </div>
                </div>

                <div class="col-6 col-md-4 order-3 order-md-3 text-right">
                    <div class="site-top-icons">
                        <ul>
                            {% if not app.user %}
                                <li>
                                    <a href="{{ path('app_login') }}" title="Se connecter">
                                        <span class="icon icon-long-arrow-right"></span>
                                    </a>
                                </li>
                            {% else %}
                                <li><a href="#" title="{{ app.user.userIdentifier }}"><span class="icon icon-person"></span></a></li>
{#                                <li><a href=""><span class="icon icon-heart-o"></span></a></li>#}
                                <li>
                                    <a href="{{ path('order_cart') }}" class="site-cart">
                                        <span class="icon icon-shopping_cart"></span>
                                        <span class="count count-shopping_cart">{{ count_user_pre_cart_item(app.user) }}</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('app_logout') }}" title="se deconnecter">
                                        <span class="icon icon-long-arrow-right"></span>
                                    </a>
                                </li>
                            {% endif %}
                            <li class="d-inline-block d-md-none ml-md-0">
                                <a href="#" class="site-menu-toggle js-menu-toggle">
                                    <span class="icon-menu"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <nav class="site-navigation text-right text-md-center" role="navigation">
        <div class="container">
            <ul class="site-menu js-clone-nav d-none d-md-block">
                <li class="{% if menu_home is defined %}active{% endif %}">
                    <a href="{{ path('front_home') }}">Home</a>
                </li>
                <li class="{% if menu_order is defined %}active{% endif %}"><a href="{{ path('order_home') }}">Shop</a></li>
                <li class="{% if taxon_menu is defined %}active{% endif %}"><a href="{{ path('front_taxon_list') }}">Catalogue</a></li>
                <li class="{% if menu_newness is defined %}active{% endif %}"><a href="{{ path('front_newness_list') }}">Nouveauté</a></li>
                <li class="{% if contact_menu is defined %}active{% endif %}"><a href="{{ path('front_contact') }}">Contact</a></li>
            </ul>
        </div>
    </nav>
</header>
